body {
	text-align: center;
	padding-top: 100px;
	background: #f0f0f0;
	color: #383838;
	font-family: helvetica, sans-serif;
}


button {
	font-style: italic;
	text-decoration: underline;
	padding: 10px;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	border: 2px solid #DA1F1F;
	
}
button:hover {
	background-color: #DA1F1F;
	color: white;
}


#insult {
	padding: 100px;
	color: #000000;
	opacity: 0;
	transition: 1s;
	
}

#insult.fade-in {
	opacity: 1;
	transition: 1s;
}


footer {
    position: fixed;
    height: 50px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}

footer p {
	font-size: 0.5em;

}